body {
  color:#46474b;  
  font-family: sans-serif;
  font-size:16px;  
  box-sizing: border-box;
}

h1 {
  color:#0170b9;
  font-size: 1.75em;
}

h2 {
    color:#0170b9;
    margin-top: 1.5rem;
}

h3, h4, h5 {
    color:#0170b9;
    margin-top: 1.25rem;
}

.calcButton {
  background-color: #004080;
  color: white;
  border: none;
  padding: 0.75rem 0.75rem;
  margin-top: 0.5rem;
  margin-left: 0.5rem;  
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.calcButton:hover {
  background-color: #0066cc;
}

.resultCard {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;  
  background-color: #c6cef7; /* optional: or keep your current color */
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  box-sizing: border-box;  
  text-align: left;
  width: 80%vw;
  max-width:600px;
  padding:10px;
}

.resultCard:hover {
  transform: translateY(-3px);
}

.resultCard h3 {
  margin-top: 0;
  color: #0170b9;
}

.controlbar {
    margin-left:auto;
    margin-right:auto;
    margin-top:0.5em;
    padding:0.5rem;
    background-color: #dcf0fc;
    border-radius: 12px;
    width: 80%vw;
    max-width:600px;
}



