html {
   font-family: sans-serif;
   font-size: clamp(16px, 2vw, 20px);
}


body {
 /* color:#46474b;  */
  color: #0b0c10; 
  box-sizing: border-box;
}

input,
textarea,
select {
  font-size: 1rem;   /* inherits global scaling, minimum 16px */
}

h1 {
  color:#0170b9;
  font-size: 1.75em;
  text-align:center;
}

h2 {
    color:#0170b9;
    margin-top: 1.5rem;
}

h3, h4, h5 {
    color:#0170b9;
    margin-top: 1.25rem;
}

.introduction {
   text-align:center;
}

.help-button {
  background-color: #004080;
  color: white;
  border: none;
  padding: 0.75rem 0.75rem;
  margin-top: 0.5rem;
  /*margin-left: 0.5rem;  */
  margin-left: auto;
  margin-right: auto;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.help-button:hover {
  background-color: #0066cc;
}

.help-topic-card {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;  
  background-color: #c6cef7; /* optional: or keep your current color */
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  box-sizing: border-box;  
  text-align: left;
  width: 80%vw;
  max-width:600px;
  padding:0.25rem;
}

.help-topic-card:hover {
  transform: translateY(-3px);
}

.help-topic-card h2 {
  margin-top: 0;
  text-align: center; 
  color: #0170b9;
}

.help-topic-card p {
   margin:0.25em;
   padding:0;
}

.controlbar {
    margin-left:auto;
    margin-right:auto;
    margin-top:0.5em;
    padding:0.5rem;
    background-color: #dcf0fc;
    border-radius: 12px;
    width: 80%vw;
    max-width:600px;
}



ul {
  list-style: square;
  margin-left: 1em;
  padding: 0;
}

.additional-controls {
   display:flex;
}

.additional-controls > div {
  margin:10px;
  text-align: center;
  line-height: 20px;
  font-size: 0.5rem;
}

.help-icon {
   margin-left:auto;
   margin-right:auto;
   margin-top:0.5rem;
   margin-bottom:0.75rem;
   font-size:4.0rem;
   text-align:center;
}

.help-topics h2 {
   text-align:center;
}

.help-topics a:link {
   text-decoration: none;
}

.help-topics a:visited {
   text-decoration: none;
}

.system-response {
   color:hotpink;
   font-style: oblique;
}
